In [107]:
import numpy as np
import pandas as pd

In [108]:
target = np.random.normal(10, 10, 1000)
df = pd.DataFrame(target, columns=['target'])

df.head()

      target
0  16.835540
1   0.448248
2  10.376291
3  15.365633
4  -1.022731

In [109]:
def format_X_Y(dataset, x_size, y_size):
    X, Y = [], []
    N = len(dataset) - x_size - y_size + 1
    for idx in range(N):
        _X = dataset[idx:idx + x_size]
        X.append(_X)

        _Y = dataset[idx + x_size:idx + x_size + y_size]
        Y.append(_Y)
    X, Y = np.array(X).squeeze(-1), np.array(Y).squeeze(-1)
    return X, Y

In [110]:
dataset = df.to_numpy()

In [111]:
x_size, y_size = 10, 1

X, Y = format_X_Y(dataset, x_size, y_size)
df = pd.DataFrame(
    np.concatenate([X, Y], axis=1),
    columns=(
        [f'feature_{i}' for i in range(1, x_size + 1)]
        + [f'target_{i}' for i in range(1, y_size + 1)]
    )
)
df

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,target_1
0,16.835540,0.448248,10.376291,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879
1,0.448248,10.376291,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420
2,10.376291,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128
3,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128,-8.766325
4,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128,-8.766325,6.651932
...,...,...,...,...,...,...,...,...,...,...,...
985,4.347467,16.699769,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971
986,16.699769,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480
987,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480,30.094847
988,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480,30.094847,16.642054
989,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480,30.094847,16.642054,19.547005

In [112]:
x_size, y_size = 10, 3

X, Y = format_X_Y(dataset, x_size, y_size)
df = pd.DataFrame(
    np.concat([X, Y], axis=1),
    columns=(
        [f'feature_{i}' for i in range(1, x_size + 1)]
        + [f'target_{i}' for i in range(1, y_size + 1)]
    )
)
df

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,target_1,target_2,target_3
0,16.835540,0.448248,10.376291,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128
1,0.448248,10.376291,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128,-8.766325
2,10.376291,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128,-8.766325,6.651932
3,15.365633,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128,-8.766325,6.651932,14.426588
4,-1.022731,7.440836,0.652013,18.294629,12.668093,10.628386,20.650879,19.679420,11.002128,-8.766325,6.651932,14.426588,-2.164828
...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,1.219074,8.423114,4.347467,16.699769,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971
984,8.423114,4.347467,16.699769,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480
985,4.347467,16.699769,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480,30.094847
986,16.699769,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480,30.094847,16.642054
987,6.616908,-8.775193,9.889846,22.839115,2.283298,9.758229,10.461087,-7.543597,-2.957971,22.753480,30.094847,16.642054,19.547005

In [126]:
feature_1 = np.random.normal(1, 1, 1000)
feature_2 = np.random.normal(10, 1, 1000)
feature_3 = np.random.normal(100, 1, 1000)
target = np.random.normal(1000, 1, 1000)


df = pd.DataFrame(np.stack([feature_1, feature_2, feature_3, target], axis=1),
                  columns=['feature_1', 'feature_2', 'feature_3', 'target'])

In [127]:
target_col = 'target'
feature_cols = ['feature_1', 'feature_2', 'feature_3']

target_dataset = df.loc[:, [target_col]].to_numpy()
feature_dataset = df.loc[:, feature_cols].to_numpy()

In [130]:
def format_target_X_Y(target_dataset, target_x_size, target_y_size):
    X, Y = [], []
    N = len(target_dataset) - target_x_size - target_y_size + 1
    for idx in range(N):
        _X = target_dataset[idx:idx + target_x_size]
        X.append(_X)

        _Y = target_dataset[idx + target_x_size:idx + target_x_size + target_y_size]
        Y.append(_Y)
    X, Y = np.array(X).squeeze(-1), np.array(Y).squeeze(-1)
    return X, Y


def format_feature_X_Y(feature_dataset, target_x_size, target_y_size, feature_x_size):
    X = []
    N = len(feature_dataset) - target_x_size - target_y_size + 1
    for idx in range(N):
        _X = feature_dataset[idx:idx + target_x_size][-feature_x_size:].T
        X.append(_X)
    X = np.array(X)
    X = X.reshape(X.shape[0], -1)
    return X

In [138]:
target_x_size, target_y_size = 3, 1
feature_x_size = 1

target_X, target_Y = format_target_X_Y(target_dataset, target_x_size, target_y_size)
feature_X = format_feature_X_Y(feature_dataset, target_x_size, target_y_size, feature_x_size)

In [139]:
columns = []
for feature_col in feature_cols:
    columns.extend(
        [f'{feature_col}_{idx}' for idx in range(1, feature_x_size + 1)]
    )
columns += [f'feature_{i}' for i in range(1, target_x_size + 1)]
columns += [f'target_{i}' for i in range(1, target_y_size + 1)]

pd.DataFrame(
    np.concatenate([feature_X, target_X, target_Y], axis=1),
    columns=(
        columns
    )
)

,feature_1_1,feature_2_1,feature_3_1,feature_1,feature_2,feature_3,target_1
0,-0.089404,10.507541,99.144794,999.865608,998.342392,999.118728,999.692544
1,1.566865,8.987175,100.786436,998.342392,999.118728,999.692544,1000.913065
2,0.211541,8.731623,100.855173,999.118728,999.692544,1000.913065,998.873510
3,1.333530,10.042973,99.936544,999.692544,1000.913065,998.873510,999.828033
4,1.216505,10.753408,100.125425,1000.913065,998.873510,999.828033,1000.538932
...,...,...,...,...,...,...,...
992,1.512675,11.750417,99.928667,1001.013757,999.445903,999.059225,1000.302966
993,1.715250,10.380154,100.439364,999.445903,999.059225,1000.302966,999.558626
994,1.559061,9.465525,98.937785,999.059225,1000.302966,999.558626,999.646378
995,-0.448656,10.045187,99.787617,1000.302966,999.558626,999.646378,999.444072
996,1.815350,7.766928,101.172329,999.558626,999.646378,999.444072,999.477575

In [140]:
feature_1 = np.random.normal(1, 1, 1000)
feature_2 = np.random.normal(10, 1, 1000)
feature_3 = np.random.normal(100, 1, 1000)
target = np.random.normal(1000, 1, 1000)


df = pd.DataFrame(np.stack([feature_1, feature_2, feature_3, target], axis=1),
                  columns=['feature_1', 'feature_2', 'feature_3', 'target'])

In [ ]:
target_col = 'target'
feature_cols = ['feature_1', 'feature_2', 'feature_3']

target_dataset = df.loc[:, [target_col]].to_numpy()
feature_dataset = df.loc[:, feature_cols].to_numpy()

In [183]:
def format_X_Y(dataset, x_size, y_size):
    X, Y = [], []
    N = len(dataset) - x_size - y_size + 1
    for idx in range(N):
        X.append(dataset[idx:idx + x_size])
        Y.append(dataset[idx + x_size: idx + x_size + y_size, -1])
    X, Y = np.array(X), np.array(Y)
    return X, Y

In [184]:
dataset = np.concatenate([feature_dataset, target_dataset], axis=1)
x_size, y_size = 9, 2

X, Y = format_X_Y(dataset, x_size, y_size)
X.shape, Y.shape

((990, 9, 4), (990, 2))